<!DOCTYPE html>
{% load staticfiles %}
{% load recipes_template_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CookBook</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/recipes.css' %}">

</head>
<body>
<div class="container">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <!-- Grupowanie "marki" i przycisku rozwijania mobilnego menu -->
                <div class="navbar-header">

      <a class="navbar-brand" href="{% url 'index' %}">CookBook</a>
    </div>

    <!-- Grupowanie elementów menu w celu lepszego wyświetlania na urządzeniach moblinych -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{% url 'index' %}">Strona główna</a></li>
        <li><a href="{% url 'about' %}">O nas</a></li>
        <li><a href="{% url 'add_category' %}">Dodaj kategorię</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Zaloguj się</a></li>
        <li><a href="#">Rejestracja</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    <img src="{% static "images/Logomakr_5oU1xS.png" %}" alt="banner" />
    </div>
<div class="container">
    <div class="col-md-3">
        {% block sidebar_block %}
            {% get_category_list category %}
        {% endblock %}
    </div>
    <div class="col-md-9">
        {% block body_block %}
        {% endblock %}
    </div>
</div>
</body>
</html>