
<div class="sidebar">
    {% for c in cats %}
        {% if c == act_cat %}
            <ul class="list-group">
            <li class="list-group-item">
            <strong>
                <a href="{% url 'show_category' c.slug %}">{{ c.name }}</a>
            </strong>
            </li>
            </ul>
        {% else %}
            <ul class="list-group">
            <li class="list-group-item">
                <a href="{% url 'show_category' c.slug %}">{{ c.name }}</a>
            </li>
            </ul>
        {% endif %}
    {% endfor %}
</div>